_build/
.vscode/
main.byte
.vscode/settings.json
_build/_digests
_build/_log
_build/compiler.cmi
_build/compiler.cmo
_build/compiler.ml
_build/lexer.cmi
_build/lexer.cmo
_build/main.byte
_build/main.cmi
_build/main.cmo
_build/main.ml
_build/main.ml.depends
_build/parser.cmi
_build/parser.cmo
_build/parser.ml
_build/parser.ml.depends
_build/parser.mli
_build/parser.mly
_build/semantics.cmi
_build/semantics.cmo
_build/semantics.ml
